<div class="container mt-3">
  <ol class="breadcrumb" style="user-select: auto;">
    <li class="breadcrumb-item" style="user-select: auto;"><a [routerLink]="[ '/']" style="user-select: auto;">Jimmy Gressent</a></li>
    <li class="breadcrumb-item" style="user-select: auto;"><a [routerLink]="[ '/user']" style="user-select: auto;">Utilisateurs</a></li>
    <li class="breadcrumb-item active" style="user-select: auto;">Validations</li>
</ol>
  <h1>Les clients en attente de validation</h1>
  <p>Vivamus cursus lacus ac magna potenti voluptatum eius ipsa mattis irure quod? Diamlorem dolor amet
     ullam, platea aenean adipisci veritatis dolorum montes, quisque risus nulla recusandae? Aenean, imped
     it, veritatis pede, vestibulum, ultrices vel taciti temporibus cillum, quisquam cursus commodo numquam 
     magnam ligula netus eaque unde? Aliquet, nisi nostrum, donec consequuntur amet magnam lobortis perspiciatis l
     aboriosam tincidunt, repellendus laoreet pellentesque dolor? Egestas ratione maecenas, excepturi elit netus mag
     nam dolor erat eos, fringilla, odio, risus ullamcorper id mollis voluptatem lacinia nobis rutrum. Semper vel purus deserunt habitant!
     Tempus lectus quo risus mollitia, maiores imperdiet? Veniam corrupti ullam, interdum placeat adipisci habitant do.
  </p>
  <div class="row">
    <div class="col-lg-12">
      <!-- TODO: Input autocompletion -->
      <input type="text" class="form-control shadow-sm" placeholder="Rechercher par nom ou prénom un utilisateur">
      <hr>
    </div>
  </div>
  <div *ngIf="elementAtValidation">
      <div  *ngFor="let user of users; let i = index">
          <div *ngIf="user.validation == false">
              <div class="row">
                  <div class="col-lg-12 shadow-sm bg-light p-4 mb-3">
                      <div class="row" >
                        <div class="col-lg-3" *ngFor="let photo of user.photos; let first = first" [ngClass]="{'active': first}">
                            <a [routerLink]="[ '/profil', user.uid ]">
                              <img *ngIf="first" class="w-100" [src]="photo" alt="Photo du l'utilisateur" onerror="this.src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/200x200.jpg'">
                            </a>
                        </div>
                        <div class="col-lg-6">
                          <div class="d-flex">
                            <a [routerLink]="[ '/profil', user.uid ]">
                                <div class="mr-auto">
                                <h3 class="font-weight-normal">{{user.firstName}} {{user.lastName}}</h3><br>
                                <span>Nom et race du chien : Pixel, Malinois</span><br>
                                <span>Début et fin du contrat : {{ user.contracts[0].start }} - {{ user.contracts[0].end }}</span>
                                </div>
                            </a>
                          </div>
                      </div>
                      <div class="col-lg-3">
                        <button class="btn btn-success m-1" type="button" (click)="onValidation(user, i)"><i class="fas fa-check"></i></button>
                        <button class="btn btn-primary m-1" type="button" (click)="openEditModal(user, i)"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger m-1" type="button" (click)="openDeleteModal(user, i)" ><i class="fas fa-ban"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>    
  </div>
  
  <div class="row" *ngIf="!elementAtValidation">
      <div class="col-12">
          <p>Pas d'utilisateurs en attente de validation...</p>
      </div>
  </div>
  <!-- TODO : Pagination  -->
  
  
<!-- ---------------- Delete property Modal ------------------  -->
<div class="modal fade" id="eventDeleteModal" tabindex="-1" role="dialog" aria-labelledby="eventDeleteModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Suppression d'un événément</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cet utilisateur ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-danger" (click)="deleteUser()">Supprimer</button>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade shadow-sm" id="userModalCenter" tabindex="-1" role="dialog" aria-labelledby="userModalCenter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <form [formGroup]="userForm" (ngSubmit)="editUser()">
              <div class="modal-header">
                  <h5 class="modal-title" id="userModalCenter">Edition d'un utilisateur</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="email">Adresse Email</label>
                        <input type="email" placeholder="Email" class="form-control" formControlName="email">
                      </div>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="firstName">Prénom</label>
                        <input type="text" placeholder="Prénom" class="form-control" formControlName="firstName">
                      </div>  
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="lastName">Nom de famille</label>
                        <input type="text" placeholder="Prénom" class="form-control" formControlName="lastName">
                      </div>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="phone">Nom</label>
                        <input type="tel" placeholder="Téléphone" class="form-control" formControlName="phone">
                      </div>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="adress">Adresse postal</label>
                        <input type="text" placeholder="Adresse" class="form-control" formControlName="adress">
                      </div>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="postalCode">Code Postal</label>
                        <input type="text" placeholder="Code Postal" class="form-control" formControlName="postalCode">
                      </div>  
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="city">Ville</label>
                        <input type="text" placeholder="Ville" class="form-control" formControlName="city">
                      </div>  
                    </div>
                  </div>
                  <div class="row" *ngIf="contract">
                    <div class="col-6">
                      <div class="form-group">
                          <label for="contracts">Début de votre contrat</label>
                          <input type="date" placeholder="Date du contrat" class="form-control" formControlName="start">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                          <label for="contracts">Fin de votre contrat</label>
                          <input type="date" placeholder="Date du contrat" class="form-control" formControlName="end">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary"  [disabled]='userForm.invalid'>Enregistrer</button>
              </div>
          </form>
      </div>
  </div>
</div>