<div class="container mt-3">
    <ol class="breadcrumb" style="user-select: auto;">
        <li class="breadcrumb-item" style="user-select: auto;"><a [routerLink]="[ '/']" style="user-select: auto;">Jimmy Gressent</a></li>
        <li class="breadcrumb-item" style="user-select: auto;"><a [routerLink]="[ '/user']" style="user-select: auto;">Utilisateurs</a></li>
        <li class="breadcrumb-item active" style="user-select: auto;">Contrats</li>
    </ol>
    <h1>Les contrats</h1>
    <p>Vivamus cursus lacus ac magna potenti voluptatum eius ipsa mattis irure quod? Diamlorem dolor amet
       ullam, platea aenean adipisci veritatis dolorum montes, quisque risus nulla recusandae? Aenean, imped
       it, veritatis pede, vestibulum, ultrices vel taciti temporibus cillum, quisquam cursus commodo numquam 
       magnam ligula netus eaque unde? Aliquet, nisi nostrum, donec consequuntur amet magnam lobortis perspiciatis l
       aboriosam tincidunt, repellendus laoreet pellentesque dolor? Egestas ratione maecenas, excepturi elit netus mag
       nam dolor erat eos, fringilla, odio, risus ullamcorper id mollis voluptatem lacinia nobis rutrum. Semper vel purus deserunt habitant!
       Tempus lectus quo risus mollitia, maiores imperdiet? Veniam corrupti ullam, interdum placeat adipisci habitant do.
    </p>
    <div class="row">
      <div class="col-12">
        <!-- TODO: Input autocompletion -->
        <input type="text" class="form-control shadow-sm" placeholder="Rechercher par nom ou prénom un utilisateur">
      </div>
    </div>
    <div class="row">
        <div class="col-12 pt-3">
            <span class="text-success fake_link mr-3" (click)="openModalCreateContract()"><u>Créer un nouveau contract</u></span>
            <span class="text-info fake_link mr-3" (click)="openModalCreateContract()"><u>Prolonger tout les contrats actifs</u></span>
            <!-- TODO: Order by croissant and descroissant -->
            <button class="btn btn-info mr-1"><i class="fas fa-angle-up"></i></button>
            <button class="btn btn-success"><i class="fas fa-plus"></i></button>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <h3>Les clients en fin de contrat</h3>
            <ul class="list-group " style="user-select: auto;">
                <li class="list-group-item d-flex justify-content-between align-items-center mb-3 border" style="user-select: auto;">
                    Fabien PORET - Pixel de la race Malinois <br>
                    Fin de contrat le 18/08/2021
                  <div class="ml-auto">
                    <!-- TODO : Bouton de modification et de suppression -->
                    <button class="btn btn-primary m-1" type="button"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger m-1" type="button"><i class="fas fa-ban"></i></button>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-3  border" style="user-select: auto;">
                    Fabien PORET - Pixel de la race Malinois <br>
                    Fin de contrat le 18/08/2021
                  <div class="ml-auto">
                    <!-- TODO : Bouton de modification et de suppression -->
                    <button class="btn btn-primary m-1" type="button"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger m-1" type="button"><i class="fas fa-ban"></i></button>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-3 border" style="user-select: auto;">
                    Fabien PORET - Pixel de la race Malinois <br>
                    Fin de contrat le 18/08/2021
                  <div class="ml-auto">
                    <!-- TODO : Bouton de modification et de suppression -->
                    <button class="btn btn-primary m-1" type="button"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger m-1" type="button"><i class="fas fa-ban"></i></button>
                  </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
          <h3>Les clients qui ne sont plus en contrat</h3>
          <ul class="list-group " style="user-select: auto;">
              <li class="list-group-item d-flex justify-content-between align-items-center mb-3 border" style="user-select: auto;">
                  Fabien PORET - Pixel de la race Malinois <br>
                  Fin de contrat le 18/08/2021
                <div class="ml-auto">
                  <!-- TODO : Bouton de modification et de suppression -->
                  <button class="btn btn-primary m-1" type="button"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-danger m-1" type="button"><i class="fas fa-ban"></i></button>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center mb-3  border" style="user-select: auto;">
                  Fabien PORET - Pixel de la race Malinois <br>
                  Fin de contrat le 18/08/2021
                <div class="ml-auto">
                  <!-- TODO : Bouton de modification et de suppression -->
                  <button class="btn btn-primary m-1" type="button"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-danger m-1" type="button"><i class="fas fa-ban"></i></button>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center mb-3 border" style="user-select: auto;">
                  Fabien PORET - Pixel de la race Malinois <br>
                  Fin de contrat le 18/08/2021
                <div class="ml-auto">
                  <!-- TODO : Bouton de modification et de suppression -->
                  <button class="btn btn-primary m-1" type="button"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-danger m-1" type="button"><i class="fas fa-ban"></i></button>
                </div>
              </li>
          </ul>
      </div>
    </div>
</div>
