<div class="container mb-3">
    <h1 class="display-4 mt-3 bm-0">Inscription à l'application</h1>
    <hr class="mt-0 mb-3 bg-grey">
    <div class="alert alert-dismissible alert-danger" *ngIf="errorForm">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{errorForm}}
    </div>
    <p>Sociosqu vehicula tortor consequat? Facilisi quis? Mi! Excepteur sollicitudin, repellat leo. Aptent? Excepturi rerum justo? Saepe? Dui earum? Vivamus eu? Provident laudantium. Similique! Fermentum. Reprehenderit itaque vestibulum taciti ullamco veniam? Error nascetur ullam hendrerit velit, class, diamlorem donec totam aptent perspiciatis? Proin, eiusmod diam, delectus, voluptatibus veritatis iste, diam minim sociosqu placerat nostrum, corrupti maiores fames? Sunt sint repellendus mollitia, blandit veritatis ullamco laboriosam senectus primis natoque autem tenetur proin nunc possimus, pretium euismod congue! Minim feugiat felis, suspendisse aenean aliquid laudantium eius voluptate, dictumst! Felis eum similique! Pulvinar netus praesentium? Et similique sagittis saepe tempora. Aliquid accumsan optio sagittis.</p>
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmitRegistrationForm()">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="email">Votre adresse email</label>
                            <input type="email" class="form-control" placeholder="example@example.com" formControlName="email">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="phone">Votre numéro de téléphone</label>
                            <input type="phone" class="form-control" placeholder="0695060448" formControlName="phone">
                        </div>
                    </div>
                </div>
 
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="firstName">Votre prénom</label>
                            <input type="text" class="form-control" placeholder="Fabien" formControlName="firstName">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="lastName">Votre nom</label>
                            <input type="text" class="form-control" placeholder="Poret" formControlName="lastName">
                        </div>
                    </div>
                </div>
                <!-- TODO : Chien  -->
                <!-- <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="postalCode">Le nom de votre chien</label>
                            <input type="text" class="form-control" placeholder="14100">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="city">La race de votre chien</label>
                            <input type="text" class="form-control" placeholder="Lisieux">
                        </div>
                    </div>
                </div> -->
                <!-- <div class="form-group">
                    <label for="photos">Télécharger une image de votre chien</label>
                    <input type="file" class="form-control" placeholder="">
                </div> -->
                <!-- <div class="form-group">
                    <label for="adress">La date de début de votre contrat</label>
                    <input type="date" class="form-control" placeholder="87 avenue guillaume le conquérant" formControlName="adress">
                </div> -->
                <hr>
                <!-- TODO: Image upload pour le chien  -->
                <div class="row mb-2">
                    <div *ngFor="let photo of photosAdded; let i = index" class="col-4 border border-secondary rounded m-1 p-1 bg-light position-relative">
                        <span class="text-danger position-absolute mr-1 deletePhoto" (click)="onRemoveAddedPhoto(i)">
                            <i class="fas fa-times"></i>
                        </span>
                        <img [src]="photo" class="w-100">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="contracts">Date de début de votre contrat</label>
                            <input type="date" placeholder="Date du contrat" class="form-control" formControlName="contracts">
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Télécharger une image de votre animal de compagnie </label>
                        <div class="input-group">
                            <div class="custom-file">
                                <!-- Dès que l'input vas changer de valeur ça va déclaré l'input file  -->
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01" (change)="onUploadFile($event)">
                                <label class="custom-file-label" for="inputGroupFile01">Envoyer une image</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <label for="adress">Votre adresse postal</label>
                    <input type="email" class="form-control" placeholder="87 avenue guillaume le conquérant" formControlName="adress">
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="postalCode">Votre code Postal</label>
                            <input type="number" class="form-control" placeholder="14100" formControlName="postalCode">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="city">Votre ville</label>
                            <input type="text" class="form-control" placeholder="Lisieux" formControlName="city">
                        </div>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <label for="password">Votre mot de passe</label>
                    <!-- Firebase demande obligatoirement un mdp de 6 caractères.  -->
                    <input type="password" class="form-control" placeholder="Minimum 6 caractères" formControlName="password">
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="registrationForm.invalid">Connexion</button>
            </form>
        </div>
    </div>
</div>
