<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg" style="user-select: auto;">
  <a class="navbar-brand" [routerLink]="['/']" routerlinkActive="router-link-active" >
    Jimmy Gressent
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="user-select: auto;">
    <span class="navbar-toggler-icon" style="user-select: auto;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" style="user-select: auto;">
    <!-- 
    TODO: Ajouter une gestion des rôles 
    TODO: Si utilisateur non connecter alors ne pas accéder aux routes planning et video 
    TODO: Gestion de l'espace administration  
    -->
    <ul class="navbar-nav mr-auto" style="user-select: auto;">
      <li class="nav-item" style="user-select: auto;">
        <a class="nav-link" [routerLink]="['/programme']" style="user-select: auto;" >Le programme DSR</a>
      </li>
      <li class="nav-item" style="user-select: auto;">
        <a class="nav-link" [routerLink]="['/tarification']" style="user-select: auto;" >Les tarifs</a>
      </li>
      <li class="nav-item" style="user-select: auto;">
        <a class="nav-link" [routerLink]="['/booking']" style="user-select: auto;" *ngIf="isConnected">Planning des séances de groupe</a>
      </li>
      <!-- <li class="nav-item" style="user-select: auto;">
        <a class="nav-link" [routerLink]="['/video']" style="user-select: auto;" *ngIf="isConnected">Vidéo</a>
      </li> -->
      <li class="nav-item" style="user-select: auto;">
        <!-- TODO : Contact à créer  -->
        <a class="nav-link" [routerLink]="['/contact']" style="user-select: auto;">Contact</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <!-- 
      TODO: Création de l'administration
      TODO: Ajout d'un cours 
      TODO: Ajout d'une video 
      TODO: Gestion du profil  
    -->

      <li class="nav-item">
        <a [routerLink]="['/login']" class="nav-link" *ngIf="!isConnected">Connexion au planning</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/registration']" class="nav-link" *ngIf="!isConnected">Inscription au planning</a>
      </li>
      <!-- TODO : Gestion des rôles  -->
      <li class="nav-item dropdown" *ngIf="adminCheck">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- TODO : badge  -->
          <a class="dropdown-item"  [routerLink]="['/contract']">Mes contrats <span class="badge badge-danger">1</span></a>
          <a class="dropdown-item"  [routerLink]="['/validation']">Les validations <span class="badge badge-info">3</span></a>
          <a class="dropdown-item"  [routerLink]="['/user']">Mes utilisateurs</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profil', uid]" *ngIf="isConnected">Mon profil</a>
      </li>
      <li class="nav-item">
        <a (click)="onSignOut()" class="nav-link" *ngIf="isConnected">Déconnexion</a>
      </li>
    </ul>

    <!-- TODO: Faire la recherche en autocompletion des utilisateurs  -->
    <form class="form-inline my-2 my-lg-0" style="user-select: auto;" *ngIf="adminCheck">
      <input class="form-control mr-sm-2" type="text" placeholder="Nom, prénom, chien, ..." style="user-select: auto;">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="user-select: auto;">Rechercher</button>
    </form>
  </div>
</nav>