<div class="container mt-3">
    <ol class="breadcrumb" style="user-select: auto;">
        <li class="breadcrumb-item" style="user-select: auto;"><a [routerLink]="[ '/']" style="user-select: auto;">Jimmy Gressent</a></li>
        <li class="breadcrumb-item" style="user-select: auto;"><a [routerLink]="[ '/user']" style="user-select: auto;">Utilisateurs</a></li>
        <li class="breadcrumb-item active" style="user-select: auto;">Profil</li>
    </ol>
    <!-- <div *ngIf="!chargement">
        {{user.uid}} <br>
        {{user.email}} <br>
        {{user.firstName}} <br>
        {{user.lastName}} <br>
        {{user.phone}} <br>
        {{user.adress}} <br>
        {{user.postalCode}} <br>
        {{user.city}} <br>
        {{user.validation}} <br>
        {{user.roles}} <br>
        {{user.photos}} <br>
    </div> -->
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    <div class="row">
        <div class="col-lg-5">
            <img src="http://placehold.it/800x800" alt="Image de profil de l'utilisateur" class="w-100">
        </div>
        <div class="col-lg-7">
            <table class="table shadow">
                <tbody>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Nom de famille</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Adresse email</th>
                        <td><a href="mailto:{{user.email}}">{{ user.email }}</a></td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td><a href="tel:{{user.phone}}">{{ user.phone }}</a></td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ user.adress }}, {{ user.city }}, {{ user.postalCode }}</td>
                    </tr>
                    <tr>
                        <th>Chien</th>
                        <td></td>
                    </tr>
                    <tr *ngIf="user.contracts">
                        <th>Contrat</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Validation</th>
                        <td>{{ user.validation ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO : Modification et contrat    -->
                            <button class="btn btn-success mr-1 mb-1">Modification</button>
                            <button class="btn btn-info mr-1 mb-1">Contract</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- TODO : CRUD Notes privées  -->
            <h2>Notes privées</h2>
            <ul class="list-group mb-3 shadow" style="user-select: auto;">
                <li class="list-group-item d-flex justify-content-between align-items-center" style="user-select: auto;">
                    Auctor similique, aenean magnam semper orci commodo earum litora, debitis.
                </li>
    
                <li class="list-group-item">
                    <span class="text-secondary fake_link mr-3">Ajouter une note privée</span>
                </li>   
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- TODO : CRUD cours et suivi  -->
            <h2>Cours et évolution</h2>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20878.421876541357!2d0.2251349884274482!3d49.147369698027525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e1c4394dc44fd3%3A0x40c14484fbce910!2s14100%20Lisieux!5e0!3m2!1sfr!2sfr!4v1598519025095!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
            <!-- <iframe width="840" height="500" frameborder="0" src="https://datafrance.info:443/lisieux-14100/immobilier/location-achat?iframe=true"></iframe> -->
            <!-- <iframe width="100%" height="450" frameborder="0" src="https://datafrance.info:443/lisieux-14100/environnement-securite/atteintes-volontaires-a-lintegrite-physique?iframe=true"></iframe> -->
            <!-- <iframe width="100%" height="450" frameborder="0" src="https://datafrance.info:443/lisieux-14100/environnement-securite/atteintes-aux-biens?iframe=true"></iframe> -->
            <iframe src="" style="border:1px #000000 solid;" name="" scrolling="auto" height="500" width="100%">
            </iframe>
            <ul class="list-group mb-3 shadow" style="user-select: auto;">
                <li class="list-group-item d-flex justify-content-between align-items-center" style="user-select: auto;">
                        Auctor similique, aenean magnam semper orci commodo earum litora, debitis.
                    <span class="badge badge-info badge-pill">
                        5/5
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>


