<div class="container">
    <h1 style="user-select: auto;">Mention</h1>
    <h2 style="user-select: auto;">Heading 2</h2>
    <h3 style="user-select: auto;">Heading 3</h3>
    <h4 style="user-select: auto;">Heading 4</h4>
    <h5 style="user-select: auto;">Heading 5</h5>
    <h6 style="user-select: auto;">Heading 6</h6>
    <h3 style="user-select: auto;">
    Heading
    <small class="text-muted" style="user-select: auto;">with muted text</small>
    </h3>
    <p class="lead" style="user-select: auto;">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
</div>