<div class="container">
    <!-- TODO : Formulaire de contact  -->
    <h3 class="display-4 mt-3 bm-0">Formulaire de contact</h3>
    <hr class="mt-0 mb-3 bg-grey">
    <p>Sociosqu vehicula tortor consequat? Facilisi quis? Mi! Excepteur sollicitudin, repellat leo. Aptent? Excepturi rerum justo? Saepe? Dui earum? Vivamus eu? Provident laudantium. Similique! Fermentum. Reprehenderit itaque vestibulum taciti ullamco veniam? Error nascetur ullam hendrerit velit, class, diamlorem donec totam aptent perspiciatis? Proin, eiusmod diam, delectus, voluptatibus veritatis iste, diam minim sociosqu placerat nostrum, corrupti maiores fames? Sunt sint repellendus mollitia, blandit veritatis ullamco laboriosam senectus primis natoque autem tenetur proin nunc possimus, pretium euismod congue! Minim feugiat felis, suspendisse aenean aliquid laudantium eius voluptate, dictumst! Felis eum similique! Pulvinar netus praesentium? Et similique sagittis saepe tempora. Aliquid accumsan optio sagittis.</p>

    <!-- <div class="alert alert-dismissible alert-danger" *ngIf="errorLogin"> -->
        <!-- {{errorLogin}} -->
    <!-- </div> -->
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()"> -->
                <div class="row">
                    <div class="col-lg-6">
                        <form>
                            <!-- TODO : Verification  -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="email">Votre adresse email</label>
                                        <input type="email" class="form-control" placeholder="example@example.com" formControlName="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Sujet</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01">
                                            <option value="Libre">Demande de renseignement</option>
                                            <option value="Renforcement">Demande de contrat</option>
                                            <option value="Théorie techniques d'apprentissage">Demande d'assistance</option>
                                            <option value="Mise en pratique">Une question sur le programme DSR</option>
                                            <option value="Refus d'appât">Problème technique</option>
                                            <option value="Divers">Divers</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <textarea class="form-control" placeholder="Description ..." id="" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-primary mt-2 mb-3" type="submit">Envoyer le message</button>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <!-- TODO: Responsive  -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20878.421876541357!2d0.2251349884274482!3d49.147369698027525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e1c4394dc44fd3%3A0x40c14484fbce910!2s14100%20Lisieux!5e0!3m2!1sfr!2sfr!4v1598519025095!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <!-- <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Connexion</button> -->
        </div>
    </div>
</div>
