.background{
    background-color: black;
    color: #7F7F7F;
}

.background h1, h2, h3, h4, h5, h6 {
    color: #DBB93B;
}

.page-footer a {
    text-decoration: none;
}

.page-footer img {
    width: 100%;
}