
<footer class="page-footer font-small unique-color-dark background">
    <div class="container text-center text-md-left ">
        <div class="row">
            <div class="col-12">
                <img src="../../../assets/img/filets.png" alt="filets jimmy gressent">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold mt-2">Jimmy Gressent</h6>
                <hr class="deep-purple accent-2 mt-0 d-inline-block mx-auto"/>
                <p>
                    Jimmy Gressent est le spécialiste de l'éducation canine.
                    Proident nonummy taciti amet lorem ratione tristique, libero saepe hic, netus alias? Asperiores sunt scelerisque, 
                    scelerisque, laoreet phasellus itaque nibh assumenda ante eaque suspendisse.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold mt-2">Programme DSR</h6>
                <hr class="deep-purple accent-2 mt-0 d-inline-block mx-auto"/>
                <!-- <p>
                    <a target="_blank" [routerLink]="['/programme']">Qui suis-je ?</a>
                </p> -->
                <p>
                    <a target="_blank" [routerLink]="['/programme']">Le programme</a>
                </p>
                <p>
                    <a target="_blank" [routerLink]="['/tarification']">Les prix</a>
                </p>
                <p>
                    <a target="_blank" [routerLink]="['/booking']">Les cours</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold mt-2">Informations légales</h6>
                <hr class="deep-purple accent-2  mt-0 d-inline-block mx-auto" />
                <p>
                    <a target="_blank" [routerLink]="['/mention']">Mentions légales</a>
                </p>
                <p>
                    <a target="_blank" [routerLink]="['/contract']">Le contrat DSR</a>
                </p>
                <p>
                    <a target="_blank" [routerLink]="['/rgpd']">Politique de confidentialité</a>
                </p>
                <p>
                    <a target="_blank" [routerLink]="['/sitemap']">Plan du site</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold mt-2">Informations de contact</h6>
                <hr class="deep-purple accent-2  mt-0 d-inline-block mx-auto"/>

        
                <p> 
                    <i class=""></i>Jimmy Gressent - Zone du Calvados</p>
                <p>
                    <i class=""></i><a href="mailto:specialistecanin@jimmygressent.com">specialistecanin@jimmygressent.com</a></p>
                <p>
                    <i class=""></i><a href="tel:0658050198">06 58 05 01 98</a></p>
            </div>
        </div>
    </div>
</footer>