<div class="container mt-3">

    <!-- <p>TODO: Code couleur</p> -->
    <!-- <span *ngIf="uid">{{uid}}</span> -->

    <!-- Calendrier  -->
    <div id="div-full-calendar">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div> 

    <!-- Fenetre d'affichage  -->
    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true" *ngIf="eventShow">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="eventModal">{{ eventShow.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h5>Cours</h5>
                <div class="row">
                    <div class="col-lg-12">
                        Cours de type : {{eventShow.title}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        Début de l'événement : {{ eventShow.start | date:'à HH:mm le dd-MM-yyyy'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        Durée de l'événement : {{ eventShow.duration }} 
                        <span *ngIf="eventShow.duration > 1">heures</span> 
                        <span *ngIf="eventShow.duration == 1">heure</span> 
                    </div>
                </div>
                <div class="row" *ngIf="eventShow.description">
                    <hr>
                    <div class="col-12">
                        <hr>
                        {{ eventShow.description}}
                    </div>
                </div>
                <div *ngIf="adminCheck">
                    <div *ngIf="eventShow.users">
                        <hr>
                        <h5>Clients inscrits</h5>
                        <!-- TODO : Count  -->
                        <span>Il y a {{countUsers}} personnes qui viendront à ce cours</span>
                        <div class="row">
                            <div class="col-12" *ngFor="let user of eventShow.users">
                                <div class="d-flex">
                                    <div class="mr-auto">
                                        <a data-dismiss="modal" [routerLink]="['/profil', user.uid]">{{ user.firstName }} {{ user.lastName }}</a>
                                    </div>
                                    <!-- <div class="ml-auto"> -->
                                    <!-- TODO : Bouton de suppression -->
                                    <!-- <button class="btn btn-danger m-1" type="button"><i class="fas fa-trash-alt"></i></button> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div *ngIf="adminCheck">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" *ngIf="adminCheck" (click)="onConfirmEventDelete()">Annuler le cours</button>
                    <button type="button" class="btn btn-primary" (click)="eventEdit()" *ngIf="adminCheck">Modifier le cours</button>
                </div>
                <div *ngIf="!registrationAtThisEvent">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="eventRegistration(eventShow.id)">Je participe</button>
                </div>
                <div *ngIf="registrationAtThisEvent">
                    <!-- TODO: Désnscription  -->
                    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="eventDeregistration(eventShow.id)">Je ne participe plus</button>
                </div>

            </div>
        </div>
        </div>
    </div>

    <!-- ---------------- Delete property Modal ------------------  -->
    <div class="modal fade" id="eventDeleteModal" tabindex="-1" role="dialog" aria-labelledby="eventDeleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form [formGroup]="suppressionForm" (ngSubmit)="eventDelete()">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Suppression d'un événément</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cet événement ?
                <!-- TODO : Création du système de notification durant une suppression -->
                    <div class="form-control">
                        <input type="checkbox" id="notificationByEmail" name="notificationByEmail" class="mr-2" formControlName="email">
                        <label for="notificationByEmail"> Prévenir les participants par email</label>
                    </div>
                    <div class="form-control">
                        <input type="checkbox" id="notificationBySMS" name="notificationBySMS" class="mr-2" formControlName="sms">
                        <label for="notificationBySMS"> Prévenir les participants par SMS</label>
                    </div>
                    <div class="form-control">
                        <input type="checkbox" id="notificationByPush" name="notificationByPush" class="mr-2" formControlName="push"> 
                        <label for="notificationByPush">Prévenir les participants par notificiation</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </div>
            </form>
        </div>
        </div>
    </div>


    <!-- Fenetre de création ou d'édition  -->
    <div class="modal fade shadow-sm" id="eventModalCenter" tabindex="-1" role="dialog" aria-labelledby="eventModalCenter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form [formGroup]="eventsForm" (ngSubmit)="onSubmitEventsForm()">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eventModalCenter">Edition d'un événement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="datetime-local" placeholder="Date de l'événement" class="form-control" formControlName="start">
                                </div>
                            </div>
                            <div class="col-6">    
                                <div class="form-group">
                                    <input type="number" placeholder="Durée en heure" class="form-control" formControlName="duration">
                                </div>  
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Catégorie</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" formControlName="title" >
                            <option value="Libre">Libre</option>
                            <option value="Renforcement">Renforcement</option>
                            <option value="Théorie techniques d'apprentissage">Théorie techniques d'apprentissage</option>
                            <option value="Mise en pratique">Mise en pratique</option>
                            <option value="Refus d'appât">Refus d'appât</option>
                            <option value="Formation théorique sur développement relationnel et éducatif au sein du foyer">Formation théorique sur développement relationnel et éducatif au sein du foyer</option>
                            <option value="Divers">Divers</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Description de l'événement" id="" cols="30" rows="10"  formControlName="description"></textarea>
                        </div>              
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary"  [disabled]='eventsForm.invalid'>Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
