<div class="container">
    <h2 style="user-select: auto;">Contrat</h2>
    <p style="user-select: auto;">Nullam quis risus eget <a href="#" style="user-select: auto;">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p style="user-select: auto;"><small style="user-select: auto;">This line of text is meant to be treated as fine print.</small></p>
    <p style="user-select: auto;">The following is <strong style="user-select: auto;">rendered as bold text</strong>.</p>
    <p style="user-select: auto;">The following is <em style="user-select: auto;">rendered as italicized text</em>.</p>
    <p style="user-select: auto;">An abbreviation of the word attribute is <abbr title="attribute" style="user-select: auto;">attr</abbr>.</p>
</div>