<div class="container">
    <h1>Tarification</h1>
    <div class="jumbotron" style="user-select: auto;">
        <h1 class="display-3" style="user-select: auto;">Hello, world!</h1>
        <p class="lead" style="user-select: auto;">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4" style="user-select: auto;">
        <p style="user-select: auto;">It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead" style="user-select: auto;">
          <a class="btn btn-primary btn-lg" href="#" role="button" style="user-select: auto;">Learn more</a>
        </p>
    </div>
</div>