<div class="background">
    <div class="row">
        <div class="col-12 textCarousel font-weight-bold">
            <img class="logoFromCarousel" src="../../assets/img/logo.png" alt="Logo de Jimmy Gressent éducateur canin">
            <h1>Jimmy Gressent - Spécialiste canin</h1>
            <p>
                <span class="gold">D</span>ésensibilisation 
                <span class="gold">S</span>ensorielle et 
                <span class="gold">R</span>elationnelle
            </p>
            <button class="scroll-down buttonScrollToBot" (click)="scroll()"></button>
        </div>
    </div>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="pictureFirstCarousel" src="../../assets/img/person-female.jpg" data-src="holder.js/900x400?theme=social" alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="coin">
        <img class="leftCoin" src="../../assets/img/coin.png" alt="Image de présentation">
        <img class="rightCoin" src="../../assets/img/coin.png" alt="Image de présentation">
    </div>
    <div class="container scrollHere mb-5">
        <div class="row borderPresenttation mb-3">
            <div class="col-lg-6">
                <h2 id="test">Ne plus chercher à progresser, c’est commencer à régresser</h2>
                <p>
                    Vous trouverez dans ce dossier le programme de désensibilisation sensorielle et relationnelle destiné à la compréhension, la gestion et l’éducation d’un chien de famille. <br><br>
                    Les orientations que je prends en faisant évoluer mon programme ont pour seul objectif d’être au plus près de vos attentes, avec la plus grande précision et le plus grand professionnalisme qui soit. <br><br>
                    Cet état d’esprit et cette façon de penser me permettent d’être en évolution et en progression constante dans le service qui vous est proposé. C’est en raisonnant ainsi que je suis en mesure de vous présenter une prestation unique, née et développée auprès des familles que j’ai accompagné durant ces 15 dernières années
                </p>
            </div>  
            <div class="col-lg-6 picturePresentation">
                <img class="w-100" src="http://placehold.it/500x400" alt="Image de présentation">
            </div>
        </div>
    </div>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header mt-3">
                <h1 id="timeline">L'histoire de Jimmy Gressent</h1>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="fas fa-paw"></i></div>
                    <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Maître-chien</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2000 - 2008</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Maître-chien et adjoint au chef de chenil en institution militaire</p>
                    </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="fas fa-paw"></i></div>
                    <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Formation d'éducateur canin</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2006 - 2008</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Jury d’examen puis formateur pour l’obtention du brevet professionnel « éducateur canin ». Unique formation diplômante en France.</p>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="fas fa-paw"></i></div>
                    <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Employé au sein d’une société privée Guadeloupéenne</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2008 - 2009</small></p>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Responsable de la mise en place, du développement et du recrutement pour la mise en œuvre du brevet professionnel « éducateur canin ».</li>
                            <li>Instructeur dans le cadre de la formation d’agent cynophile de sécurité au 2éme RSMA (Régiment de Service Militaire Adapté).</li>
                            <li>Entrainement, maintien en condition et vente de chien de défense pour des particuliers ou des sociétés privées.</li>
                            <li>Intervenant au centre de détention de Baie-Mahault pour sensibiliser les détenus sur la détention de chien en milieu défavorisé.</li>
                            <li>Education canine et accompagnement des familles dans la gestion de leur(s) chien(s) d’agrément.</li>
                        </ul>
                    </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="fas fa-paw"></i></div>
                    <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Instructeur canin</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2012</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Instructeur en Martinique de l’équipe soignante de l’AGPAM (Association de Gestion et de Protection des Animaux de la Martinique) dans la cadre d’un projet de sensibilisation sur la divagation et la gestion des chiens sur cette île.</p>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info"><i class="fas fa-paw"></i></div>
                    <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Création du Domaine de Saint Roch</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2010 - 2020</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Créateur et gérant de l’EURL « Le Domaine de Saint Roch », société de services canins implantée à Moyaux, dans le pays d’Auge</p>
                    </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="fas fa-paw"></i></div>
                    <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Désensibilitation Sensorielle et Relationnelle</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2006 - Aujourd'hui</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Créateur du programme de formation interactive DSR (Désensibilisation Sensorielle et Relationnelle).</p>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge warning"><i class="fas fa-paw"></i></div>
                    <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Formateur habilité</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2008 - Aujourd'hui</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Formateur habilité à la délivrance de « l’attestation d’aptitude » pour les propriétaires et détenteurs de chiens de 1ére et 2éme catégorie sur les départements de l’Orne, de l’Eure et du Calvados.</p>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="callToAction">
    <div class="center">
        <h3 class="pt-2">Jimmy Gressent, éducateur spécialisé</h3>
        <button class="btn btn-success mb-3">0695060476</button>
    </div>
</div>
<app-contact></app-contact>
<!-- TODO: Bouton pour remonter en haut de page  -->