<!-- <div class="container mt-3">
    <p>programme works!</p>
</div> -->
<div class="container-fluid ">
    <section>
        <div class="row">
            <div class="col-lg-5 paddingPicture paddingLeftPicture">
                <img src="http://placehold.it/1980x1080" class="w-100" alt="">
            </div>
            <div class="col-lg-7 mt-5">
                <h2>nte sint veniam debitis dicta</h2>
                <p>Ratione, ante sint veniam debitis dicta, corporis expedita, commodo hendrerit temporibus dis placerat conubia in, odit! Duis laboriosam quia ultricies feugiat labore optio illum dapibus bibendum in mollis, id hendrerit? Leo semper quo hic cillum ab. Incididunt montes rem auctor neque, nam! Eaque reiciendis, quo, aut itaque alias? Laoreet! Aut eos. Quos ex dolore? Torquent iste. Urna adipisicing iure, sapiente, rerum, tempora placeat iste sapien nostra vehicula litora curabitur eveniet. Quasi praesentium adipisicing imperdiet quisque ex fusce ratione tristique enim, integer suspendisse ea, excepteur libero cumque est id convallis convallis? Condimentum magnis doloremque occaecati senectus totam! Hic orci quae cursus.</p>
            </div>
        </div>
    </section>
    <hr class="p-0 m-0">
    <section>
        <div class="row">
            <div class="col-lg-7 mt-5">
                <h2>nte sint veniam debitis dicta</h2>
                <p>Ratione, ante sint veniam debitis dicta, corporis expedita, commodo hendrerit temporibus dis placerat conubia in, odit! Duis laboriosam quia ultricies feugiat labore optio illum dapibus bibendum in mollis, id hendrerit? Leo semper quo hic cillum ab. Incididunt montes rem auctor neque, nam! Eaque reiciendis, quo, aut itaque alias? Laoreet! Aut eos. Quos ex dolore? Torquent iste. Urna adipisicing iure, sapiente, rerum, tempora placeat iste sapien nostra vehicula litora curabitur eveniet. Quasi praesentium adipisicing imperdiet quisque ex fusce ratione tristique enim, integer suspendisse ea, excepteur libero cumque est id convallis convallis? Condimentum magnis doloremque occaecati senectus totam! Hic orci quae cursus.</p>
            </div>
            <div class="col-lg-5 paddingPicture paddingRightPicture">
                <img src="http://placehold.it/1980x1080" class="w-100" alt="">
            </div>
        </div>
    </section>
    <hr class="p-0 m-0">
    <section>
        <div class="row">
            <div class="col-lg-5 paddingPicture paddingLeftPicture">
                <img src="http://placehold.it/1980x1080" class="w-100" alt="">
            </div>
            <div class="col-lg-7 mt-5">
                <h2>nte sint veniam debitis dicta</h2>
                <p>Ratione, ante sint veniam debitis dicta, corporis expedita, commodo hendrerit temporibus dis placerat conubia in, odit! Duis laboriosam quia ultricies feugiat labore optio illum dapibus bibendum in mollis, id hendrerit? Leo semper quo hic cillum ab. Incididunt montes rem auctor neque, nam! Eaque reiciendis, quo, aut itaque alias? Laoreet! Aut eos. Quos ex dolore? Torquent iste. Urna adipisicing iure, sapiente, rerum, tempora placeat iste sapien nostra vehicula litora curabitur eveniet. Quasi praesentium adipisicing imperdiet quisque ex fusce ratione tristique enim, integer suspendisse ea, excepteur libero cumque est id convallis convallis? Condimentum magnis doloremque occaecati senectus totam! Hic orci quae cursus.</p>
            </div>
        </div>
    </section>
</div>
<div class="callToAction">
    <div class="center">
        <h3 class="pt-2">Jimmy Gressent, éducateur spécialisé</h3>
        <button class="btn btn-success mb-3">0695060476</button>
    </div>
</div>
<app-contact></app-contact>

<!-- <div class="row">
    <div class="col-lg-7">
        <p>Ratione, ante sint veniam debitis dicta, corporis expedita, commodo hendrerit temporibus dis placerat conubia in, odit! Duis laboriosam quia ultricies feugiat labore optio illum dapibus bibendum in mollis, id hendrerit? Leo semper quo hic cillum ab. Incididunt montes rem auctor neque, nam! Eaque reiciendis, quo, aut itaque alias? Laoreet! Aut eos. Quos ex dolore? Torquent iste. Urna adipisicing iure, sapiente, rerum, tempora placeat iste sapien nostra vehicula litora curabitur eveniet. Quasi praesentium adipisicing imperdiet quisque ex fusce ratione tristique enim, integer suspendisse ea, excepteur libero cumque est id convallis convallis? Condimentum magnis doloremque occaecati senectus totam! Hic orci quae cursus.</p>
    </div>
    <div class="col-lg-5">
        <img src="http://placehold.it/1980x1080" class="w-100" alt="">
    </div>
</div> -->