/* h1, h2, h3, h4, h5, h6, .gold {
    color: #DBB93B;
} */

.callToAction{
    color: #DBB93B;
    background: rgb(0,0,0);
    padding-left: -15!important;
}

.center{
    text-align: center;
}


@media screen and (max-width: 599px) {
    .paddingPicture{
        padding: 0!important;
    }
}


@media screen and (min-width: 600px) {
    .paddingLeftPicture{
         padding-left: 0!important;
        
    }
    .paddingRightPicture{
        padding-right: 0!important; 
    }
}
